

::selection {
    color: #fff;
    background-color: #005AEE;
}

.collection-card {
    position: relative;
    width: 370px;
    height: 370px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    color: #303336;
    box-shadow: 0 40px 40px -20px #8fc7d544;
}

.collection-card .card-img {
    position: relative;
    width: 100%;
    height: 240px;
}

.collection-card .card-img a {
    font-size: 0;
}

.collection-card .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 300ms;
}

.collection-card .avator {
    position: absolute;
    bottom: 0;
    left: 40px;
    transform: translateY(50%);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    transition: 300ms;
}

.collection-card .card-name {
    position: absolute;
    top: 30px;
    left: 40px;
    color: #ffffffdd;
    font-weight: 700;
    letter-spacing: 2px;
}

.collection-card .card-text {
    width: 100%;
    height: auto;
    padding: 50px 40px 20px;
    text-align: center;
}

.collection-card .title {
    font-weight: 400;
}

.collection-card .author {
    font-size: .875em;
    color: #7B8591;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}


/* ------------------ */
/* Interactive Effect */
/* ------------------ */

.collection-card .photo:hover {
    filter: grayscale(100%);
}

.collection-card .avator:hover {
    box-shadow: 0 0 0 4px #fff;
}


/* Display this style when screen-width is lower than 425px */
@media only screen and (max-width: 425px) {

    .collection-card {
        width: 100%;
        height: auto;
        min-height: 370px;
        margin: 20px;
    }

}
